.crmMailing .inky-compose .col{
  float: left;
  width: 49%;
  margin-right: 0.5em;
}

.inky-compose div.inky-compose,
.inky-compose iframe{
  height: 500px;
  width: 100%;
  font-family: monospace;
  border: 1px solid grey;
  background-color: #fff;
  /*margin: 0.5em*/
}

.inky-compose input{
  width: 100%;
}
